
.h2{
	letter-spacing: 100!important;
}
/*.ico{
	max-height: 22px;
	height: 22px;
}

.anim{
	transition:stroke-dashoffset 1.5s;
}
.animIl{
	transition:stroke-dashoffset 1.5s .2s;
}
.animIn{
	transition:stroke-dashoffset 1.5s .4s;
}
.animHt{
	transition:stroke-dashoffset 1.5s .6s;
}
.animCs{
	transition:stroke-dashoffset 1.5s .8s;
}
.animJs{
	transition:stroke-dashoffset 1.5s 1s;
}
.animWp{
	transition:stroke-dashoffset 1.5s 1.2s;
}
.animAn{
	transition:stroke-dashoffset 1.5s 1.4s;
}
.animJe{
	transition:stroke-dashoffset 1.5s 1.6s;
}
.animMo{
	transition:stroke-dashoffset 1.5s 1.8s;
}
.animMod{
	transition:stroke-dashoffset 1.5s 2s;
}
.animIlu{
	transition:stroke-dashoffset 1.5s 2.2s;
}
.animLay{
	transition:stroke-dashoffset 1.5s 2.4s;
}
.animPos{
	transition:stroke-dashoffset 1.5s 2.6s;
}*/